*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:"Poppins", sans-serif;
    background:#daeeff;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration:none;
}
.pricing_header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 15px 60px;
    margin-bottom: 35px;
    margin-top: 35px;
    border-radius: 100px;
    box-shadow:0px 10px 60px rgba(0,0,0,.19);
    background:#fff;
}
.pricing_header_title{
    font-size:28px;
    font-weight: 700;
    color:#333;
    margin-bottom: 5px;
}
.pricing_header_desc{
    color:#6c6c6c;
    font-size:15px;
}
.header_btns_container{
    display:flex;
    align-items:center;
}
.pricing_section{
    padding-top: 30px;
    padding-bottom: 56px;
}
.header_btn{
    padding: 10px 20px;
    border-radius:15px;
    border-width:0;
    margin-right: 10px;
    background:#5f30e229;
    color:#5F30E2;
    font-weight:700;
    transition:.4s;
}
.activeTabBtn{
    background:#5F30E2;
    color:#fff;
}

.page_main_container{
    display:flex;
    justify-content: center;
    align-items:center;
}
.pricing_container{
    margin-top: 80px;
    padding: 10px 30px;
    display:none;
    flex-direction: column;


}
.pricing_card{
    display:flex;
    flex-direction: column;
    background:#fff;
    margin: 30px 15px;
    border-radius:20px;
    position:relative;
    padding: 40px 30px;
    transition:.6s ease-in-out;
    box-shadow:4px 8px 20px rgba(0,0,0,.3);
    
}
.pricing_card:before{
    content:"";
    background:none;
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius:0 0% 100% 0;
    width: 100%;
    transition:.6s ease-in-out;
}
.pricing_inner{
    border-radius:20px;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path:circle(0% at 0% 0%);
    transition:.6s ease-in-out;
    background:#5F30E2;
    z-index: -10;
}
.pricing_card:hover{
    box-shadow:-10px 22px 40px #5f30e2ac;
    color:#fff;
    background:transparent;
    transform:scale(1.13);
    z-index:1;
}
.pricing_card:hover > .pricing_inner{
    background:#5F30E2;
    clip-path:circle(145% at 0% 0%);
} 
.pricing_card:hover > .pricing_card_top > .pricing_card_head .plan_icon{
    color:#fff;
}
.pricing_card:hover:before{
    background:#00000014;
}
.pricing_card:hover > .pricing_card_top > .pricing_card_head .plan_icon{
    color:#fff;
}
.pricing_card:hover > .card_menu > .card_item .check{
    color:#c9eeff;
}
.pricing_card:hover > .card_menu > .card_item .wrong{
    color:#ffab7a;
}
.pricing_card:hover  > .pricing_tag > .tag_desc{
    color:#fff;
    
}
.pricing_card:hover  > .card_desc{
    color:#fff;
}
.pricing_card:hover  > .card_menu >.card_item{
    color:#ddd;
}

.pricing_card:hover  > .choose_btn{
    border:2px solid #ffee58;
    color:#424242;
    background:#ffee58;
    font-weight:600;
}

.pricing_card_top{
    display:flex;
    justify-content: start;
}
.pricing_card_head{
    display:flex;
    flex-direction: column;
    align-items:start;
}
.plan_icon{
    font-size:50px;
    margin-bottom: 10px;
    transition:.6s ease-in-out;
}
.pricing_card_heading{
    font-weight: 600;
    font-size:30px;
    margin-bottom: 15px;
}
.card_desc{
    color:#2f2e50;
    font-size:20px;
    font-weight: 500;
    margin-bottom: 18px;
    transition:.6s ease-in-out;
}
.card_menu{
    flex-grow:1;
    margin-bottom: 25px;
}
.card_item{
    margin-bottom: 15px;
    font-size:19px;
    color:#2f2f31;
    transition:.6s ease-in-out;
}
.free_icon{
    color:#03a9f475;
}
.intensive_icon{
    color:#ff562278;
}
.foundation_icon{
    color:#00968875;
}
.tag_1{
    background:#3B6BE8;
}
.tag_1:before{
    background:#3a5089;
}
.tag_1:after{
    background:#3B6BE8;
}
.tag_2{
    background:#58C3C3;
}
.tag_2:before{
    background:#427b7b;
}
.tag_2:after{
    background:#58C3C3;
}

.tag_3{
    background:#E91E63;
}
.tag_3:before{
    background:#a5234f;
}
.tag_3:after{
    background:#E91E63;
}

.card_cir_icons{
    margin-right: 10px;
}
.check{
    color:#5f30e2;
}
.wrong{
    color:red;
}
.choose_btn{
    border:2px solid #b498ff;
    width: 90%;
    border-radius:10px;
    font-size:20px;
    background:none;
    padding-top: 15px ;
    padding-bottom: 15px;
    position: relative;
    overflow: hidden;
    transition:.4s ease-in-out;
}
.pricing_tag{
    display:flex;
    position:absolute;
    width: 118px;
    height:100px;
    color:#fff;
    flex-direction: column;
    align-items:center;
    right: 12%;
    top: -4%;
    padding-top: 13px;
    transition:.2s ease-in;
}
.pricing_tag::after{
    content:"";
    position:absolute;
    height: 150px;
    width: 120px;
    bottom: -149%;
    clip-path: polygon(50% 19%, 0 0, 100% 0);
    box-shadow:-120px -120px 120px red;
}
.pricing_tag::before{
    content:"";
    position:absolute;
    height:40px;
    width: 40px;
    top: -10%;
    left: -33%;
    clip-path: polygon(100% 100%, 24% 100%, 100% 25%);
}

.tag_price{
    font-size:35px;
    font-weight:600;
}
.tag_desc{
    font-size:15px;
}
.activeTab{
    display:flex;
}
@media (min-width:768px){
    .pricing_container{
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: center;
        padding: 0;
    }
    .pricing_card{
        max-width: 350px;
        margin-bottom:30px ;
    }
    .pricing_section{
        width: 100%;
        max-width: 1200px;
    }
    .card_menu{
        margin-bottom: 0;
    }
    .pricing_header_title{
        font-size: 40px;
    }
    .pricing_header_desc{
        font-size: 20px;
    }
    .monthly_btn{
        font-size: 20px;
        border-radius:25px;
    }
    .header_btn{
        font-size: 20px;
        border-radius:23px;
    }
}
@media (max-width:768px){
    .pricing_header{
        padding: 10px 30px;
    }
    .pricing_header_title{
        font-size:20px;
    }

}
@media (max-width:576px){
    .pricing_header{
        flex-direction: column;
        align-items:center;
        padding:10px  10px;margin-bottom: 15px;
    }
    .pricing_header_title{
        margin-bottom: 0;
    }
    .pricing_header_desc{
        margin-bottom: 0;

    }
    .pricing_container{
        border:2px solid red;
        justify-content: center;
        margin-top: 15px;
    }
    .pricing_header_title{
        font-size:20px;
    }
    .header_btn{
        margin-top: 5px;
        font-size:15px;
        padding: 8px 15px;
    }

}